upstream  codes {
		ip_hash;
		server	localhost:6001;
		server  localhost:6002;
		server  localhost:6003;
		server  localhost:6004;
		server  localhost:6005;
		server  localhost:6006;
		server  localhost:6007;
		server  localhost:6008;
}

server {
	listen			80;
#	listen			443 ssl;
#	include			ssl.conf;
	server_name		{{app_domain}};
	client_max_body_size	400m;
#	if ( $scheme = http ) {
#		return	301	https://$server_name$request_uri;
#		##return		301	https://$server_name$1 permanent;
#		##rewrite	^	https://$server_name$request_uri? permanent;
#	}
	access_log	/var/log/nginx/codes.access.log  main;
	location ~ /.well-known {
                allow   all;
                root    /var/www/well-known;
        }

	location	/ {
			include			proxy_params;
			#proxy_send_timeout	900;
			#proxy_read_timeout	900;
			proxy_pass		http://codes;
			proxy_http_version	1.1;
			proxy_set_header	Upgrade		$http_upgrade;
			proxy_set_header	Connection	"upgrade";
	}

}
