[Unit]
Description=cleversite-ws on port %I
After=network-online.target

[Service]
WorkingDirectory={{app_current_release_path}}
ExecStart=/usr/bin/node --expose_gc --nouse-idle-notification --inspect=1%I worker.js %I
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cleversite-ws-%I
User=apache
Group=apache
Environment='NODE_ENV=production'
## limit CPU and RAM quota for our service
#CPUAccounting=true
#CPUQuota=10%
#MemoryAccounting=true
#MemoryLimit=50M


[Install]
WantedBy=multi-user.target