upstream        ws {
		ip_hash;
		server				sc-nodejs02.servicecloud.info:6001;
		server                          sc-nodejs03.servicecloud.info:6031;

		server				sc-nodejs02.servicecloud.info:6002;
		server                          sc-nodejs03.servicecloud.info:6032;

		server				sc-nodejs02.servicecloud.info:6003;
		server                          sc-nodejs03.servicecloud.info:6033;

		server				sc-nodejs02.servicecloud.info:6004;
		server                          sc-nodejs03.servicecloud.info:6034;

		server				sc-nodejs02.servicecloud.info:6005;
		server                          sc-nodejs03.servicecloud.info:6035;

		server				sc-nodejs02.servicecloud.info:6006;
		server                          sc-nodejs03.servicecloud.info:6036;

		server				sc-nodejs02.servicecloud.info:6007;
		server                          sc-nodejs03.servicecloud.info:6037;

		server				sc-nodejs02.servicecloud.info:6008;
		server                          sc-nodejs03.servicecloud.info:6038;

		server				sc-nodejs02.servicecloud.info:6009;
		server                          sc-nodejs03.servicecloud.info:6039;

		server				sc-nodejs02.servicecloud.info:6010;
		server                          sc-nodejs03.servicecloud.info:6040;

		server				sc-nodejs02.servicecloud.info:6011;
		server                          sc-nodejs03.servicecloud.info:6041;

		server				sc-nodejs02.servicecloud.info:6012;
		server                          sc-nodejs03.servicecloud.info:6042;
}

server {
	listen			80;
	listen			443	ssl;
	include			ssl.conf;
	server_name		lb.cleversite.ru lb02.cleversite.ru;
	client_max_body_size	400m;

	access_log	syslog:server=127.0.0.1:9000,tag=nginx,severity=info elk;

	location /port/6001 {
        include			proxy_params;
        proxy_pass		http://sc-nodejs02.servicecloud.info:6001/data;
        proxy_http_version	1.1;
        proxy_set_header	Upgrade		$http_upgrade;
        proxy_set_header	Connection	"upgrade";
	}
	location /port/6002 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6002/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
	}
	location /port/6003 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6003/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6004 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6004/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6005 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6005/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6006 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6006/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6007 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6007/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6008 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6008/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6009 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6009/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
    location /port/6010 {
        include			proxy_params;
        proxy_pass              http://sc-nodejs02.servicecloud.info:6010/data;
        proxy_http_version      1.1;
        proxy_set_header        Upgrade         $http_upgrade;
        proxy_set_header        Connection      "upgrade";
    }
        location                        /port/6011 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs02.servicecloud.info:6011/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6012 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs02.servicecloud.info:6012/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }


       location                        /port/6031 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6031/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6032 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6032/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6033 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6033/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6034 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6034/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6035 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6035/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6036 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6036/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6037 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6037/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6038 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6038/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6039 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6039/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6040 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6040/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
       location                        /port/6041 {
					include                 proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6041/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
        }
    location                        /port/6042 {
					include			proxy_params;
                                        proxy_pass              http://sc-nodejs03.servicecloud.info:6042/data;
                                        proxy_http_version      1.1;
                                        proxy_set_header        Upgrade         $http_upgrade;
                                        proxy_set_header        Connection      "upgrade";
    }


	location			/port/6019 {
					include			proxy_params;
					proxy_pass		http://sc-nodejs02.servicecloud.info:6019/data;
					proxy_http_version	1.1;
					proxy_set_header	Upgrade		$http_upgrade;
					proxy_set_header	Connection	"upgrade";
	}

    location / {
        include                 proxy_params;
        proxy_pass		http://ws;
        proxy_read_timeout	90s;
        ##proxy_send_timeout	900s;
        ##proxy_read_timeout	900s;
        proxy_redirect		off;
        proxy_http_version	1.1;
        proxy_set_header	Upgrade		$http_upgrade;
        proxy_set_header	Connection	"upgrade";
	}
}