{% for item in cronjobs %}
# {{item.description}}
{{item.minute | default('*')}} {{item.hour | default('*')}}   {{item.day | default('*')}} {{item.month | default('*')}} {{item.weekday | default('*')}}    php {{app_base_path}}/{{item.script}} >> {{app_log_path}}/{{item.log}}

{% endfor %}

