[Unit]
Description=cleversite-pult
After=network-online.target

[Service]
WorkingDirectory={{app_current_release_path}}/bin
ExecStart=/usr/bin/node www
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-pult
User=apache
Group=apache
Environment='NODE_ENV={{node_env}}'
## limit CPU and RAM quota for our service
#CPUAccounting=true
#CPUQuota=10%
#MemoryAccounting=true
#MemoryLimit=50M


[Install]
WantedBy=multi-user.target